---
layout: page
title: "Frequently Asked Questions"
ref: faq-page
lang: en
---

<div class="search-op my-2">
  <div class="search-op-header">
    <input type="text" placeholder="Search..." class="search-op-input form-control" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
    <button type="button" class="close clear d-none" aria-label="Clear">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ul class="search-op-list list-group list-group-flush my-4">

    <li class="list-group-item px-0">
      <h2 id="add-to-calendars">How do I add programmes of the Forum to calendars on my device?</h2>
      <p>You could subscribe to our programme calendar via calendar apps on your device (i.e., add our programmes to your calendar on your device). Our calendar feed is available at:</p>
      {% include ical-box.html load_js="true" %}
      <p>You may have to follow different instructions for adding our programmes to your calendar, depending on the operating systems of your device.</p>
      <ul>
        <li>For calendar on your <strong>Mac</strong>, you can find instructions <a href="https://support.apple.com/en-gb/guide/calendar/icl1022/mac">here</a>.</li>
        <li>For calendar on your <strong>iOS devices</strong>, you can find instructions <a href="https://support.apple.com/en-gb/guide/iphone/iph3d1110d4/ios#iph30203de42">here</a>.</li>
        <li>For <strong>Android</strong> devices, since there is no calendar app by default, you may find <a href="https://f-droid.org/en/packages/at.bitfire.icsdroid/">this app</a> very useful for subscription to our calendar feed.</li>
        <li>For <strong>Windows</strong> devices, you may <a href="https://support.office.com/en-us/article/import-or-subscribe-to-a-calendar-in-outlook-com-cff1429c-5af6-41ec-a5b4-74f2c278e98c">subscribe to our programme calendar in your microsoft account</a>, which could be synchronised to your calendar apps on your windows devices running Office Outlook or Windows Calendar.</li>
      </ul>
    </li>

    <li class="list-group-item px-0">
      <h2 id="how-do-i-use-the-website-on-my-mobile-device">How do I use the website on my mobile device?</h2>
      <p>Our entire website is optimised for use on mobile devices. You can always visit our website in most web browsers on your devices. To ensure your best experience, we recommend you to keep your web browser apps up to date.</p>
      <p>Meanwhile, you could also use our website like a native app on your mobile device, for which please read our <a href="/pwa">PWA page</a>.</p>
    </li>

    <li class="list-group-item px-0">
      <h2 id="why-are-some-links-marked-with-a-sign">Why are some links marked with a <sup class="fas fa-external-link-alt ml-1"></sup> sign?</h2>
      <p>Links marked with a <sup class="fas fa-external-link-alt ml-1"></sup> sign are pointing to third-party contents which we have no authority or control over. Therefore we would like to remind you of this so that you could use with extra caution if necesssary.</p>
    </li>
    
    <li class="list-group-item px-0">
      <h2 id="use-rss">How do I use RSS feeds?</h2>
      <p><a href="http://en.wikipedia.org/wiki/RSS">RSS</a> (Really Simple Syndication) is an easy way to read news and updates in your favorite device. Our RSS feed for our blog posts is:</p>
      {% include rss-box.html %}
      <p>There are quite a lot of RSS readers available for different operating systems of your devices.</p>
      <ul>
        <li>For mobile or desktop devices, you may search "RSS" in your application store to find different free or paid apps to read our posts on your device.</li>
        <li>If you are using online news readers such as <a href="https://feedly.com">Feedly</a>, you just need to add our feed in your subscription list and you will be able to receive all our posts in it.</li>
      </ul>
    </li>
    
  </ul>
</div>
