<ul class="people-list p-0">
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhangjianyun.jpg" class="people-avatar rounded-circle mr-3" alt="Jianyun Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张建云</b> 博士、院士 主席{% else %}<b>Jianyun Zhang</b>, Dr., Prof., Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tanghongwu.jpg" class="people-avatar rounded-circle mr-3" alt="Hongwu Tang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>唐洪武</b> 博士、教授 主席{% else %}<b>Hongwu Tang</b>, Dr., Prof., Co-Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学党委书记{% else %}Chair of Hohai University Council{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-anyaohui.jpg" class="people-avatar rounded-circle mr-3" alt="Yaohui An">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>安耀辉</b> 副主席{% else %}<b>Yaohui An</b>, Vice Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院三局巡视员{% else %}Departmental Counsel of Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhengjinhai.jpg" class="people-avatar rounded-circle mr-3" alt="Jinhai Zheng">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>郑金海</b> 博士、教授 副主席{% else %}<b>Jinhai Zheng</b>, Dr., Prof., Vice Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学副校长{% else %}Vice President of Hohai University{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-liyun.jpg" class="people-avatar rounded-circle mr-3" alt="Yun Li">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>李云</b> 教授 副主席{% else %}<b>Yun Li</b>, Prof., Vice Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院副院长{% else %}Vice President of Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary">{% if page.lang == "zh" %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>此列表可能还将继续更新。{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>此列表已折叠，完整列表请见<a href="/zh/about/oc">此处</a>。{% endif %}{% else %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>This list may be updated further.{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>This list has been folded. Please see a full list <a href="/about/oc">here</a>.{% endif %}{% endif %}</h5>
    </div>
  </li>
</ul>