---
layout: page
title: Programmes
ref: programmes-page
lang: en
last_update: 2020-03-13
---
<p class="lead">Our current plan of the programmes includes four days from {{ site.cfrc_start | date_to_string }} to {{ site.cfrc_end | date_to_string }}.</p>
<div class="card-group mb-3">
  <div class="card text-center">
    <div class="card-header">MON</div>
    <div class="card-body">
      <h5 class="card-title">November</h5>
      <h4 class="card-title display-3">16</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">Registration</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">TUE</div>
    <div class="card-body">
      <h5 class="card-title">November</h5>
      <h4 class="card-title display-3">17</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">Plenary session</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">WED</div>
    <div class="card-body">
      <h5 class="card-title">November</h5>
      <h4 class="card-title display-3">18</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">Parallel sessions</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">THU</div>
    <div class="card-body text-center">
      <h5 class="card-title">November</h5>
      <h4 class="card-title display-3">19</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">Technical tours</p>
    </div>
  </div>
</div>
<p>We are still working on more details, but you can <a href="#" data-toggle="modal" data-target="#ical-feed-modal">subscribe to our online calendar</a> to get latest programmes in your favorite calendar app.</p>

<!-- iCal Modal -->
<div class="modal fade" id="ical-feed-modal" tabindex="-1" role="dialog" aria-labelledby="iCalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close ml-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="mb-3">You may use the following calendar feed:</p>
        {% include ical-box.html load_js="true" %}
      </div>
    </div>
  </div>
</div>


