---
layout: page
title: Take part in the Forum
lang: en
ref: take-part-page
---
<div class="m-1">
  <ul class="nav nav-pills nav-justified bg-light rounded mb-4" id="take-part-tab" role="tablist">
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate active" id="abstract-tab" data-toggle="tab" href="#abstract" role="tab" aria-controls="abstract" aria-selected="true"><i class="fas fa-file-alt fa-fw mr-1"></i>Abstract</a>
    </li>
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate disabled" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false"><i class="fas fa-ticket-alt fa-fw mr-1"></i>Register</a>
    </li>
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate disabled" id="presenter-tab" data-toggle="tab" href="#presenter" role="tab" aria-controls="presenter" aria-selected="false"><i class="fas fa-microphone-alt mr-1"></i>Presenter</a>
    </li>
    <li class="nav-item text-truncate d-none">
      <a class="nav-link text-truncate disabled" id="exhibitor-tab" data-toggle="tab" href="#exhibitor" role="tab" aria-controls="exhibitor" aria-selected="false"><i class="fas fa-store fa-fw mr-1"></i>Exhibitor</a>
    </li>
  </ul>
  <div class="tab-content" id="take-part">
    <div class="tab-pane fade show active" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
      <h2 id="guidelines-for-abstract-submission">Guidelines for abstract submission</h2>
      <p class="alert alert-warning"><em>Please be noted that if your abstract fails to meet the guidelines, we may discard your submission without further notice.</em></p>
      <ol style="list-style-type: decimal">
        <li>Abstracts will only be accepted <strong>in the English language</strong>, and should be <strong>no less than 500 words</strong> in length.</li>
        <li>All submissions shall be made through the online form on the website of the Forum. If any difficulties are encountered, please contact the Secretariat via contact details <a href="/about">here</a>.</li>
        <li>A valid email address is required for submitting your abstracts, to which all correspondence regarding the submission will be made.</li>
        <li>An email confirmation will be sent to the provided email address immediately after submission. Please check if it has been blocked by your spam filter. If the confirmation is still not received, please contact the Secretariat via contact details <a href="/about">here</a>.</li>
        <li>No change could be made to the submitted abstracts after the submission system closes on <strong>15 July 2020</strong>.</li>
        <li>The authors are required to indicate their preferred form of presentation during submission, which will be accommodated to the best if possible. If such preference could not be guaranteed, coordination with the author(s) will be made in advance.</li>
        <li>The submitted abstracts are reviewed immediately after each successful submission by our designated experts under the supervision of the academic committee. The process may vary in duration, but all decisions, either acceptance or rejection, will be made before <strong>30 August 2020</strong> and notified via emails to the provided email address.</li>
        <li>There is no maximum limit of submissions for an author or a group of authors, but one author could only be presenting a maximum of two works. At least one author must be registered before the start of the Forum to present their work in the agreed forms.</li>
        <li>The author(s) are solely and fully responsible for the content of the works, including but not limited to their originality and correctness; accepted abstracts will be reproduced as submitted, including possible errors.</li>
        <li>Accepted abstracts will be published in hard or digital forms under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> license.</li>
      </ol>
      <p class="text-center my-4">
        <a href="abstract" class="btn btn-success w-50">Continue</a>
      </p>
    </div>
    <div class="tab-pane py-3 fade" id="register" role="tabpanel" aria-labelledby="register-tab">Regiter tab</div>
    <div class="tab-pane py-3 fade" id="presenter" role="tabpanel" aria-labelledby="presenter-tab">Presenter tab</div>
    <div class="tab-pane py-3 fade" id="exhibitor" role="tabpanel" aria-labelledby="exhibitor-tab">Exibition tab</div>
  </div>
</div>